.ftco-section {
    margin-top: -55px; /* or a smaller value, like 10px */
}

.contact-container {
  border: 2px solid rgba(0, 123, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
  height: 90vh; /* Set the height to 90% of the viewport height */
  margin-top: 5%;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3{
  font-family: 'Arial', sans-serif, 'Helvetica';
  font-size: 28px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.903)
}

/* Ensure the iframe map is responsive */
iframe {
  max-width: 100%;
  height: auto;
}

/* Optional: Add some margin to the bottom of the contact form */
.contact-wrap {
  margin-bottom: 20px;
}
